<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新建业主</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src="/js/admin.js"></script>
    <style>
        .file {
            position: relative;
            display: inline-block;
            background: #D0EEFF;
            border: 1px solid #99D3F5;
            border-radius: 4px;
            padding: 4px 12px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }

        .file input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
        }

        .file:hover {
            background: #AADFFD;
            border-color: #78C3F3;
            color: #004974;
            text-decoration: none;
        }
    </style>
</head>
<body>

<!--需要一个表单form-->

<form class="layui-form" id="form" enctype="multipart/form-data">

    <!--    &lt;!&ndash;视频输入选项&ndash;&gt;-->
    <!--    <div class="layui-form-item">-->
    <!--        <label class="layui-form-label">视频信息</label>-->
    <!--        <div class="layui-input-block">-->
    <!--            <input type="text" name="videoPath" id="videoPath"   lay-verify="required" lay-reqtext="视频是必填选项,岂能为空?" placeholder="请输入" autocomplete="off" class="layui-input">-->
    <!--            &lt;!&ndash;视频上传&ndash;&gt;-->
    <!--            <div class="layui-upload">-->
    <!--                <button type="button" class="layui-btn layui-btn-normal" id="choosevideo">选择视频</button>-->
    <!--                <button type="button" class="layui-btn" id="uploadvideo">开始上传</button>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--视频的描述信息-->
    <div style="margin: 20px ">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" style="width: 50%" name="ausername" autocomplete="off" placeholder="填写真实姓名"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
                <input type="text" style="width: 50%" name="aname" lay-verify="required|username" autocomplete="off"
                       placeholder="请输入账号名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="apassword" style="width: 50%" lay-verify="required|pass"
                       placeholder="请填写6到12位密码" autocomplete="off" placeholder="请输入密码" class="layui-input">
            </div>
        </div>


        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label" >确认密码</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="password" name="apassword" style="width: 50%" lay-verify="required|pass"   placeholder="请填写6到12位密码" autocomplete="off" placeholder="请输入密码" class="layui-input">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="layui-form-item">-->
        <!--            <label class="layui-form-label" >地址</label>-->
        <!--            <div class="layui-input-block">-->
        <!--                <input type="text"  style="width: 50%" name="ubroom"  autocomplete="off" placeholder="填写xx栋-xx-xx" class="layui-input">-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">手机号码</label>
            <div class="layui-input-block">
                <input type="tel" style="width: 50%" name="aphoneid" lay-verify="required|phone" placeholder="请填写手机号码"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <!--    &lt;!&ndash;图片&ndash;&gt;-->
        <!--    <div class="layui-form-item">-->
        <!--        <label class="layui-form-label">照片</label>-->


        <!--                &lt;!&ndash;图片上传&ndash;&gt;-->
        <!--&lt;!&ndash;            <a href="javascript:;" class="file">选择文件&ndash;&gt;-->
        <!--&lt;!&ndash;                <input type="file"     name="file" id="userimg" lay-verify="required" lay-reqtext="照片必选项" placeholder="请输入" autocomplete="off" class="layui-input">&ndash;&gt;-->
        <!--&lt;!&ndash;            </a>&ndash;&gt;-->

        <!--            <div class="layui-input-block">-->
        <!--                <input type="text" name="uimg" style="width: 50%" id="uimg" lay-verify="required" lay-reqtext="照片必选项" placeholder="请输入" autocomplete="off" class="layui-input layui-disabled">-->
        <!--                &lt;!&ndash;图片上传&ndash;&gt;-->
        <!--                <br>-->
        <!--                <div class="layui-upload">-->
        <!--                    <button type="button" class="layui-btn layui-btn-normal" id="chooseimg">选择图片</button>-->
        <!--                    <button type="button" class="layui-btn" id="uploadimg">开始上传</button>-->
        <!--                </div>-->
        <!--            </div>-->

        <!--    </div>-->


        <!--submit的提交按钮-->
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" style="margin: 10px auto; width: 25%" lay-submit lay-filter="sub" id="submit">
                    立即提交
                </button>
            </div>
        </div>
    </div>

</form>
</body>


</html>