<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.5.0.js"></script>

    <script src="/layui/layui.js"></script>
    <script src="/js/admin.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>

    <link th:href="@{/layui/css/layui.css}" type="text/css" rel="stylesheet">
    <script src="/layui/layui.js"></script>

    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <script src="/js/date.js"></script>

    <!--    <script src="/js/getcity.js"></script>-->
</head>
<style>
    .word{
        width: 100px;
        height: 30px;
        background: #E5E5E5;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
    }
</style>

<div th:replace="fragment/js::js"></div>
<link rel="stylesheet" th:href="@{/layui/css/home.css}" media="all">

<body>



<div class="layui-carousel" id="carouselView" style="margin: 20px auto">
    <div carousel-item="" id="preview">

    </div>
</div>

<div class="layui-col-sm4" style="padding-left: 10px">
    <div class="layui-card">
        <div class="layui-card-header">用户评价</div>
        <div class="layui-card-body">
            <ul class="layuiadmin-card-status layuiadmin-home2-usernote" id="seeeva">
                <li>
                    <h3>贤心</h3>
                    <p>作为 layui 官方推出的后台模板，从初版的饱受争议，到后续的埋头丰富，逐步占据了国内后台系统应用的主要市场。</p>
                    <span>5月30日 00:00</span>
<!--                    <a href="javascript:;" layadmin-event="replyNote" data-id="7" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>-->
                </li>
                <li>
                    <h3>诸葛亮</h3>
                    <p>皓首匹夫！苍髯老贼！你枉活九十有六，一生未立寸功，只会摇唇鼓舌！助曹为虐！一条断脊之犬，还敢在我军阵前狺狺狂吠，我从未见过有如此厚颜无耻之人！</p>
                    <span>5月02日 00:00</span>
<!--                    <a href="javascript:;" layadmin-event="replyNote" data-id="5" class="layui-btn layui-btn-xs layuiadmin-reply">回复</a>-->
                </li>

            </ul>
        </div>
    </div>
</div>

<!-- 条目中可以是任意内容，如：<img src=""> -->
<script>

    function initCarousel(){
        layui.use(['carousel', 'form'], function(){
            var carousel = layui.carousel;
            $.ajax({
                url: 'http://localhost:8080/messages/getmessagesimg',
                type:'post',
                data:{
                    isDisplay:1
                },
                dataType:'json',
                success:function (data) {
                    console.log(data)
                    data.item.forEach(value => {
                        var str = ' <div class="word" style="width: 600px;height: 320px; color: black;"><h1 >'+value.name+ '</h1><div style="height: 20px"></div> <p>'+value.value+'</p></div> ';
                        $('#preview').append(str);

                    })

                    //改变下时间间隔、动画类型、高度
                    var ins = carousel.render({
                        elem: '#carouselView'
                        ,interval: 2000
                        ,arrow: 'always'
                        ,anim: 'default'
                        ,width:'600px'
                        ,height:'320px'
                    });
                    ins.reload({
                        elem: '#carouselView'
                        ,interval: 2000
                        ,arrow: 'always'
                        ,anim: 'default'
                        ,width:'600px'
                        ,height:'320px'
                    });
                },
                error:function () {
                    alert("数据库查询失败，请联系管理员！")
                }
            });
        });
    }

    initCarousel();

    $.ajax({
                async: true,                    //默认为true，默认为异步请求
                type: "POST",                   //类型post
                url: "/evaluation/geteva",                 //url
                contentType: "application/json",//请求内容编码类型
                // data: "name=John&age=18",       //发送到服务器的数据
                dataType: "json",               //返回数据格式
                success: function(msg){         //成功的方法
                    console.log(msg)
                    msg.data.forEach( v => {
                        console.log(v)
                        let ad = "无"


                        if (v.context === null){


                        }
                        console.log(v.context)
                    let  a = $("  <li>\n" +
                        "                    <h3>"+v.uname+"</h3>\n" +
                        "                    <p>"+v.context+"  <div></div>    <a style='color: red'> 评分"+v.evaluation+"分</a>   </p>\n" +
                        "                    <span>"+showTime(v.createtime)+"</span>\n" +

                        "                </li>")
                    $("#seeeva").append(a)


                    })
                }
    });








</script>


</body>
</html>