<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">物业管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">消息管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
<!--                    <i class="layui-icon layui-icon-username" style="font-size: 30px;"></i>-->
                    <span th:text="${session.user.getUusername()}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="" th:href="@{/home/loginout}">退了</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" th:if="${session.user.getTypeid() >= 2}">
                    <a class="" href="javascript:;">小区管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/date/showdate" th:href="@{/date/showdate}" target="main">我的小区</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <!--                   th:if -->
                    <a href="javascript:;" th:if="${session.user.getTypeid() >= 2}">业主管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/user/showuser" th:href="@{/user/showuser}" target="main">业主信息</a></dd>
<!--                        <dd><a href="javascript:;">业主成员</a></dd>-->
                        <dd><a href="javascript:;">绑定业主</a></dd>

                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">费用管理</a>
                    <dl class="layui-nav-child">

                        <dd><a href="/payment/addpayuser;" th:href="@{/payment/addpayuser}" target="main" >充值</a></dd>
                        <dd><a href="/payment/setpay" th:href="@{/payment/setpay}" target="main">收费设置</a></dd>
<!--                        <dd><a href="javascript:;">车位收费</a></dd>-->
<!--                        <dd><a href="javascript:;">临时车位缴费清单</a></dd>-->
                        <dd><a href="/payuser/payuserhtml" th:href="@{/payuser/payuserhtml}" target="main">费用清单</a></dd>
                        <dd><a href="javascript:;">缴费汇总</a></dd>

                    </dl>
                </li>

                <li class="layui-nav-item" th:if="${session.user.getTypeid() >= 2}">
                    <a href="javascript:;">公告管理</a>
                    <dl class="layui-nav-child">

                        <dd><a href="/messages/addmessageshtml" th:href="@{/messages/addmessageshtml}" target="main">发布公告</a>
                        </dd>
                        <dd><a href="/messages/showmessages" th:href="@{/messages/showmessages}" target="main">公告管理</a>
                        </dd>
<!--                        <dd><a href="/messages/addmessageshtml" th:href="@{/messages/addmessageshtml}" target="main">访客登记</a>-->
<!--                        </dd>-->
<!--                        <dd><a href="javascript:;">投诉建议</a></dd>-->
<!--                        <dd><a href="javascript:;">投诉单</a></dd>-->


                    </dl>
                </li>

<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">投诉管理</a>-->
<!--                    <dl class="layui-nav-child">-->

<!--                        <dd><a href="/guarantee/getguarantee" th:href="@{/guarantee/getguarantee}"-->
<!--                               target="main">投诉建议</a></dd>-->
<!--                        <dd><a href="/guarantee/getguarantee" th:href="@{/guarantee/getguarantee}" target="main">投诉单</a>-->
<!--                        </dd>-->

<!--                    </dl>-->
<!--                </li>-->

                <li class="layui-nav-item">
                    <a href="javascript:;">报修投诉</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/guarantee/showmyguaratee" th:href="@{/guarantee/showmyguaratee}" target="main">
                            自己的保修投诉信息</a></dd>
                        <dd><a href="/guarantee/getguarantee" th:href="@{/guarantee/getguarantee}" target="main">
                            报修投诉信息</a></dd>
                        <dd><a href="/guarantee/getguarantee" th:href="@{/guarantee/addguarantee}" target="main">
                            报修投诉单</a></dd>

                    </dl>
                </li>


<!--                <li class="layui-nav-item" th:if="${session.user.getTypeid() >= 2}">-->
<!--                    <a href="javascript:;">门禁管理</a>-->
<!--                    <dl class="layui-nav-child">-->

<!--                        <dd><a href="javascript:;">设备信息</a></dd>-->
<!--                        <dd><a href="javascript:;">访客登记</a></dd>-->
<!--                        <dd><a href="javascript:;">开门记录</a></dd>-->
<!--                        <dd><a href="javascript:;">钥匙管理</a></dd>-->

<!--                    </dl>-->
<!--                </li>-->

                <li class="layui-nav-item" th:if="${session.user.getTypeid() >= 2}">
                    <a href="javascript:;">组织管理</a>
                    <dl class="layui-nav-child">

                        <dd><a href="/user/showuser" th:href="@{/admin/showadmin}" target="main">员工信息</a></dd>
                        <dd><a href="javascript:;">权限管理</a></dd>
<!--                        <dd><a href="javascript:;">小区设备</a></dd>-->

                    </dl>
                </li>

<!--                <li class="layui-nav-item" th:if="${session.user.getTypeid() >= 2}">-->
<!--                    <a href="javascript:;">巡检管理</a>-->
<!--                    <dl class="layui-nav-child">-->

<!--                        <dd><a href="javascript:;">巡检点</a></dd>-->
<!--                        <dd><a href="javascript:;">巡检路线</a></dd>-->
<!--                        <dd><a href="javascript:;">巡检计划</a></dd>-->

<!--                    </dl>-->
<!--                </li>-->


            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!--        <div style="padding: 15px;">内容主体区域</div>-->

        <iframe src="/home/homeindex" width="100%" height="100%" name="main"></iframe>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>
</body>
</html>