<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
<body>
<div  style="width: 600px ; margin: 50px auto" >
    <form class="layui-form" >
        <DIV style="height: 100px"></DIV>


<!--        <input type="text" id="pid" name="paymentid" style="display: none">-->
        <div class="layui-form-item" style="width: 200px">
            <label class="layui-form-label">收费设置</label>
            <div class="layui-input-block">
                <select name="paymentid" id="paymentname" lay-filter="paymentname" >
                    <option>请选择</option>


                </select>
            </div>
        </div>




        <div class="layui-form-item">
            <label class="layui-form-label">缴费金额</label>
            <div class="layui-input-block">
                <input type="text" id="paymentmoney"  lay-verify="required|number" name="paymentmoney"
                       placeholder="金额单位为每月收取"
                       style="width: 200px" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="comedit">立即提交</button>
            </div>
        </div>

    </form>
</div>
<script th:inline="javascript" type="text/javascript">
    layui.use(['layer', 'table', 'form'], function () {

        // 我再js代码里边如何获取控制器传递过来的参数呢？
        let layer = layui.layer;// 弹出层
        let table = layui.table;// 分页组件
        let form = layui.form;// 分页组件
        let $ = layui.$;// 使用jquery
        let data;
        $.ajax({
            // async: true,                    //默认为true，默认为异步请求
            type: "POST",                   //类型post
            url: "/payment/ajaxpayment",                 //url
            // contentType: "application/json",//请求内容编码类型
            // data: "name=John&age=18",       //发送到服务器的数据
            dataType: "json",               //返回数据格式
            success: function(re){         //成功的方法

                data = re.data

                data.forEach( pay => {
                    let ht = $("<option value="+pay.paymentid+" >"+pay.paymentname+"</option>")
                    $("#paymentname").append(ht)
                    $("#paymentname").attr("money",pay.paymentmoney)
                    form.render()
                })


            }
        });

        form.on('select(paymentname)', function(data) {
            let v = $("#paymentname").val()
            $.ajax({
                // async: true,                    //默认为true，默认为异步请求
                type: "POST",                   //类型post
                url: "/payment/ajaxgetmoney",                 //url
                // contentType: "application/json",//请求内容编码类型
                data: {
                    "id": v,
                },       //发送到服务器的数据
                dataType: "json",               //返回数据格式
                success: function (re) {         //成功的方法
                    let va = re.data
                    console.log(re)
                    $("#paymentmoney").val(va.paymentmoney)
                    $("#pid").val(va.paymentid)
                    form.render()
                }
            })
        })


        form.render()

        form.on('submit(comedit)', function (data) {
                let formData = new FormData(data.form);


                // 添加一个文件呢？
                // 添加文件的步骤：首先，第一步：获取file的jsDom对象
                $.ajax({
                    url: "/payment/ajaxeditpayment",// 请求数据服务器地址，只能是当前项目，JSONP才能访问外网（需要服务器配合才能用）

                    contentType: false,// 默认就是表单数据(不写)，如果此时要传递的是json字符串，
                    // 那么此时就用application/json,如果此时要传递图片"multipart/form-data，还有数组，集合，还有对象，那么contentType必须指定为false
                    data: formData,// 要上传的参数
                    dataType: 'json',// 服务器响应数据：json,text,html,xml
                    error: function () {//请求错误的时候，会触发此函数

                    },
                    processData: false,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                    success: function (re) {// 请求成功，回调函数,data，指的就是服务器返回的数据
                        if (re.status == 200) {
                            layer.alert(re.msg, {
                                icon: 1
                            }, function (index) {
                                layer.close(index)

                            })
                        } else {
                            layer.alert(re.msg, {
                                icon: 2
                            }, function (index) {
                                layer.close(index)
                            })
                        }
                    },
                    type: 'post',// ajax请求的方式，post或get
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    });

</script>

</body>
</html>