<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link href="/css/sgre.css" rel="stylesheet" type="text/css">
<div th:replace="fragment/js::js"></div>

<link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/date.js"></script>
<script type="text/javascript" src="/js/imglocal.js"></script>

<style>
    /*修改layui表格的高度*/
    .layui-table-cell {
        height: auto;
    }
    thead .layui-table-cell {
        height: auto;
    }
</style>
<body>
<table class="layui-hide" id="demo" lay-filter="test"></table>
<script type="text/html" id="barDemo" >
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>

    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">取消</a>

    <a class="layui-btn layui-btn-radius layui-btn-xs" lay-event="over">完成</a>

</script>

<script type="text/html" id="addeva" th:inline="javascript" >
    <form class="layui-form" style="padding: 20px ">

        <input name="uid" id="uid" type="hidden">
        <input name="rid" id="rid" type="hidden">

        <div class="layui-form-item">
            <label class="layui-form-label">评分：</label>
            <div class="layui-input-block">
                <select name="evaluation" id="evaluation" style="width: 150px">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

            </div>
        </div>

            <div class="layui-form-item">
                <label class="layui-form-label">评价：</label>
                <div class="layui-input-block">
                    <input type="text" style="width: 50%" name="context" id="context"
                           class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" id="sureva" lay-submit lay-filter="sureva">确定</button>
                </div>
            </div>

        </div>
    </form>
</script>

<script type="text/html" id="editguatan" th:inline="javascript" >
    <form class="layui-form" style="padding: 20px ">

        <div style="margin: 20px ">
            <div class="layui-form-item">
                <label class="layui-form-label">报修名字</label>
                <div class="layui-input-block">
                    <input type="text" style="width: 50%" name="rname" id="rname"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">保报修内容</label>
                <div class="layui-input-block">
                    <input type="text" style="width: 50%" name="rcontent" id="rcontent"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" style="width: 50%" name="raddress" id="raddress"
                           class="layui-input">
                </div>
            </div>



            <div class="layui-form-item">
                <label class="layui-form-label">照片</label>
                <div class="layui-input-block">
                    <input type="file" id="editPic" name="rupimg" style="display: none">

                    <div style="display: flex">
                        <div>
                            <img id="editUploadImg"
                                 style="width: 80px;height: 80px;border-radius: 10px;border: lightgray 1px dashed;"/>
                            <i class="layui-icon layui-icon-addition"
                               style="position: absolute;left: 35px;top: 35px;z-index: -1"></i>


                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit" id="sureEdit" lay-submit lay-filter="sureEdit">确定修改</button>
                </div>
            </div>

        </div>
    </form>
</script>

<script th:inline="javascript" type="text/javascript">
    layui.use(['layer', 'table', 'form'], function () {
        let layer = layui.layer;// 弹出层
        let table = layui.table;// 分页组件
        let form = layui.form;// 分页组件
        let $ = layui.$;// 使用jquery


        //执行一个 table 实例
        table.render({
            //绑定body里面的table标签-->id
            elem: '#demo',
            //table表格的高度
            // height: 600,
            //请求后台的地址(获取video的视频信息)
            url: '/guarantee/getmyguarateelist',
            //表格的名称
            title: '个人报修管理',
            //开启分页
            page: true,
            //表头工具栏
            //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            // toolbar: '#bar',
            //异步请求时 解析数据的方式
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.item //解析数据列表
                };
            },

            //生成table表头(手动编写)-->解析后台的数据
            cols: [
                [ //表头
                    {
                        type: 'checkbox',
                        // fixed: 'left'
                    }, {
                    field: 'rid',
                    title: 'ID',
                    sort: true,
                    // fixed: 'left'
                }, {
                    field: 'rname',
                    title: '报修名字',
                    align: 'center',
                    edit: 'text',
                    width: 100,

                },
                    {
                        field: 'rcontent',
                        title: '报修内容',
                        align: 'center',
                        width: 150,
                    },
                    {
                        field: 'raddress',
                        title: '地址',
                        align: 'center',
                        width: 100,
                    },
                    {
                        field: 'uphone',
                        title: '用户手机号码',
                        align: 'center',
                        width: 150,
                    },
                    {
                        field: 'maintenanceusername',
                        title: '维修人员名字',
                        align: 'center',
                        width: 90,

                    },
                    //     {
                    //     field: 'aid',
                    //     title: '管理员id',
                    //
                    //     align: 'center',
                    //     // edit: 'text',
                    // },
                    {
                        field: 'uid',
                        title: '报修用户',
                        width: 90,
                        align: 'center',
                        // edit: 'text',
                    },
                //     {
                //     field: 'revaluation',
                //     title: '维修费用',
                //     width: 90,
                //     align: 'center',
                //
                // },
                    {
                    field: 'rpublicdate',
                    title: '创建时间',
                    sort: true,
                    align: 'center',
                    width: 150,
                    templet: function (d) {

                        // date.setTime(d.ucreatedate);

                        // return date.Format("yyyy-MM-dd hh:mm:ss");


                        return showTime(d.rpublicdate);
                    }
                },
                    {
                        field: 'raccpetdate',
                        title: '修改时间',
                        sort: true,
                        align: 'center',
                        width: 150,
                        templet: function (d) {

                            // date.setTime(d.ucreatedate);

                            // return date.Format("yyyy-MM-dd hh:mm:ss");

                            return showTime(d.raccpetdate);
                        }
                    },
                    {
                        field: 'rcompletiondate',
                        title: '完成时间',
                        sort: true,
                        align: 'center',
                        width: 150,
                        templet: function (d) {

                            // date.setTime(d.ucreatedate);

                            // return date.Format("yyyy-MM-dd hh:mm:ss");

                            return showTime(d.rcompletiondate);
                        }
                    },
                    // {
                    //     field: 'likeCounts',
                    //     title: '点赞次数',
                    //
                    //     align:'center'
                    // },
                    {
                        field: 'rstate',
                        title: '状态',
                        align: 'center',
                        width: 100,
                        templet:function (d) {
                            if (d.rstate == 1) {
                                return '未处理';
                            }else if (d.rstate == 2) {
                                return '等待维修';
                            }else if (d.rstate == 3) {
                                return '维修完成';
                            }else if (d.rstate == 4) {
                                return '已完成';
                            }

                            // case '2':
                            //     return '等待维修';
                            // case '3':
                            //     return '维修完成';
                            // case '4':
                            //     return '已完成';
                            // }

                        }
                    },
                    {
                        field: 'rimg',
                        title: '图片',
                        templet: function (d) {
                            // 这个d指的是本行的数据 js对象

                            let imgDiv = "<div><img showBig style='width: 50px;height: 50px;border-radius: 5px' src=" + d.rimg + "/></div>"
                            return imgDiv;
                            // return '<div><img style="width: 100px;height: 100px" src=' + d.rimg + '/></div>'
                        }
                    },
                    {
                        // fixed: 'right',
                        width: 165,
                        align: 'center',
                        toolbar: '#barDemo'
                    }
                ]
            ]
            , done() {// 表格渲染完成之后，也就是图片都被渲染好了
                showBigImg();// 渲染大图查看，给这些图片绑定点击事件
            }


        });

        // // //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值


            //查看
            if (layEvent === 'detail') {

                form.render();
                layer.open({
                    type:1,
                    title: '修改',
                    area: ['50%', '80%'],
                    content: $("#editguatan").html(),

                })
                form.render();
                form.render('select');

                $("#rname").val(data.rname)
                $("#rcontent").val(data.rcontent)
                $("#raddress").val(data.raddress)
                // select 框回显数据
                $("#rtype").each(function() {
                    // this代表的是<option></option>，对option再进行遍历
                    $(this).children("option").each(function () {
                        // 判断需要对那个选项进行回显
                        if (this.value == data.rstate) {
                            // 进行回显
                            $(this).attr("selected", "selected");
                            //重新渲染select框 重要
                            form.render('select');
                        }
                    });
                })
                $("#editUploadImg").attr("src", data.rimg);

                $("#editUploadImg").click(function () {// 点击图片就触发这个file
                    $("#editPic").click();
                });

                $("#editPic").change(function () {
                    imgPreview(this.files[0], $("#editUploadImg")[0]);
                });

                $("#sureEdit")[0].rid = data.rid;



            } else if (layEvent === 'del') {

                if(data.rstate < 3){

                    $.ajax({
                        async: true,                    //默认为true，默认为异步请求
                        type: "POST",                   //类型post
                        url: "/guarantee/delguarantee",                 //url
                        // contentType: "application/json",//请求内容编码类型
                        data: {"rid": data.rid},       //发送到服务器的数据
                        dataType: "json",               //返回数据格式
                        success: function (msg) {         //成功的方法
                            layer.msg('完成');
                        }
                    });
                }else {
                    layer.msg("已维修完成，无法取消")
                }

            }else if (layEvent === 'over') {

                if(data.rstate >= 3){


                    form.render();
                    layer.open({
                        type:1,
                        title: '修改',
                        area: ['50%', '80%'],
                        content: $("#addeva").html(),

                    })

                    $("#uid").val(data.uid)
                    $("#rid").val(data.rid)


                    form.render();
                    form.render('select');
                }else {
                    layer.msg("已完成")
                }

            }
        });


        form.on("submit(sureEdit)",function (data) {

            let formData = new FormData(data.form)

            formData.append("rid", $("#sureEdit")[0].rid);

            $.ajax({
                async: true,                    //默认为true，默认为异步请求
                type: "POST",                   //类型post
                url: "/guarantee/toeditguarantee",                 //url
                contentType: false,              //请求内容编码类型
                data: formData,       //发送到服务器的数据
                dataType: "json",               //返回数据格式
                processData: false,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                success: function(msg){         //成功的方法

                    console.log(msg)

                    if (msg.status == 200) {
                        layer.alert(msg.message, {
                            icon: 1
                        }, function () {
                            //重新刷新我们的table表格数据
                            window.location.reload()
                        })
                    } else {
                        layer.alert(msg.message, {
                            icon: 2
                        }, function () {
                            //重新刷新我们的table表格数据
                            window.location.reload()
                        })
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })

        form.on("submit(sureva)",function (data) {

            let formData = new FormData(data.form)

            $.ajax({
                async: true,                    //默认为true，默认为异步请求
                type: "POST",                   //类型post
                url: "/evaluation/addeva",                 //url
                contentType: false,              //请求内容编码类型
                data: formData,       //发送到服务器的数据
                dataType: "json",               //返回数据格式
                processData: false,//布尔值,一般都不用设置，规定通过请求发送的数据是否转换为查询字符串。默认是 true。如果此时上传的时候，有图片，这里必须设置false,
                success: function(msg){         //成功的方法

                    console.log(msg)

                    if (msg.status == 200) {
                        layer.alert(msg.message, {
                            icon: 1
                        }, function () {
                            //重新刷新我们的table表格数据
                            window.location.reload()
                        })
                    } else {
                        layer.alert(msg.message, {
                            icon: 2
                        }, function () {
                            //重新刷新我们的table表格数据
                            window.location.reload()
                        })
                    }
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        })


    })
</script>
</body>



</html>