<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>业主信息</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/guarantee.js"></script>
    <script type="text/javascript" th:inline="javascript"  src="/js/date.js"></script>

</head>

<!--<style>-->
<!--    /*修改layui表格的高度*/-->
<!--    .layui-table-cell {-->
<!--        height: auto;-->
<!--    }-->
<!--</style>-->
<body>
<!--模糊查询-->
<div class="layui-row" style="margin: 10px auto; width: 50%">
    用户电话号码：
    <div class="layui-inline">
        <input class="layui-input" name="uphone" id="uphone" autocomplete="off">
    </div>
    用户名字：
    <div class="layui-inline">
        <input class="layui-input" name="uname" id="uname" autocomplete="off">
    </div>
<!--    维修员名字：-->
<!--    <div class="layui-inline">-->
<!--        <input class="layui-input" name="maintenanceusername" id="maintenanceusername" autocomplete="off">-->
<!--    </div>-->
    类型：
    <form class="layui-form">
        <select name="rstate" id="itype" style="width: 150px">
            <option value="0">全部</option>
            <option value="1">未处理</option>
            <option value="2">正常进行</option>
            <option value="3">已完成</option>
        </select>
    </form>
    <button class="layui-btn" data-type="reload" id="find">
        <i class="layui-icon ">&#xe615;</i>
    </button>

</div>


<!--自定义表头工具栏-->
<script type="text/html" id="bar">
    <div class="layui-btn-group">
        <button class="layui-btn" lay-event="add">增加</button>
        <!--        <button class="layui-btn" lay-event="delete">删除</button>-->
    </div>
    <!--    <div class="layui-btn-group">-->
    <!--        <button  class="layui-btn" lay-event="publish">发布</button>-->
    <!--        <button  class="layui-btn" lay-event="down">下线</button>-->
    <!--    </div>-->
</script>

<!--表示加载数据的表格标签-->
<table class="layui-hide" id="userdemo" lay-filter="usertest"></table>
<!--自定义按钮功能-->
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">处理</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">完成</a>

</script>
<script type="text/html" id="editguatan" th:inline="javascript" >
<form class="layui-form" style="padding: 20px ">

    <div style="margin: 20px ">
        <div class="layui-form-item">
            <label class="layui-form-label">报修名字</label>
            <div class="layui-input-block">
                <input type="text" style="width: 50%" name="rname" id="rname"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">保报修内容</label>
            <div class="layui-input-block">
                <input type="text" style="width: 50%" name="rcontent" id="rcontent"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
                <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <select name="rstate" id="rtype" style="width: 150px">
                    <option value="1">未处理</option>
                    <option value="2">等待维修</option>
                    <option value="3">维修完成</option>
                </select>

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">选择维修人员</label>
            <div class="layui-input-block">

                <select name="maintenanceuserid" id="maintenance" style="width: 150px">

                </select>

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">照片</label>
            <div class="layui-input-block">
                <input type="file" id="imgFile" name="imgFile" style="display: none">

                <div style="display: flex">
                    <div>
                        <img id="editUploadImg"
                             style="width: 80px;height: 80px;border-radius: 10px;border: lightgray 1px dashed;"/>

                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit" id="sureEdit" lay-submit lay-filter="sureEdit">确定修改</button>
            </div>
        </div>

    </div>
</form>
</script>

</body>
</html>