<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="layui-form-item">
    <label class="layui-form-label">电话号码</label>
    <div class="layui-input-block">
        <input type="text" style="width: 50%" name="uname" lay-verify="required|username" autocomplete="off"
               class="layui-input">
    </div>
</div>


<div class="layui-form-item">
    <label class="layui-form-label">充值金额</label>
    <div class="layui-input-block">
        <input type="text" style="width: 50%" name="uname" lay-verify="required|username" autocomplete="off"
               class="layui-input">
    </div>
</div>

</body>
</html>